 .sidebar{
 -fx-background-color:#0c1a2d;
 }
 .homelabel{
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 18px; /* 12 */
    -fx-text-fill: #fff;
 }
 .navbutton{
 -fx-background-color:transparent;
 -fx-border-color:#fafafa;
 -fx-border-radius:2px;
 -fx-border-width:  0px 0px 1px 0px;
 
 
 }